.matchcard-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  background-color: #0f172a;
  font-family: Bree-serif;
  width: 200px;
  border-radius: 10px;
  text-align: center;
}
.matchcard-img {
  height: 50px;
  width: 50px;
  align-self: center;
}
.matchcard-teamname {
  font-size: 18px;
  color: #ffffff;
  align-self: center;
  
}
.matchcard-result {
  font-size: 14px;
  color: #ffffff;
  align-self: center;
}
.matchcard-matchstatus {
  font-size: 18px;
  color: #18ed66;
  align-self: center;
}
.matchcard-matchstatus1 {
  font-size: 18px;
  color: #e31a1a;
  align-self: center;
}
